@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


body {
    background-color: #F3F5FC;
}

main {
    height: calc(100vh - 8rem);
    width: 100vw;
}

.container {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

}

.result {
    position:absolute;
    top: 2rem;
    right:2rem;
    bottom: 2rem;
    width: 25vw;
    height: 90%;
    border-radius: 32px;
    background-color:  #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
/* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.div-result{
    max-height: 80%;
    max-width: 95%;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    /*hyphens establecida en auto permite que las palabras se dividan automáticamente 
    en sílabas si se admite la separación silábica en el idioma utilizado. 
    La propiedad word-break establecida en break-all indica que la palabra puede 
    dividirse en cualquier lugar, incluso en medio de una letra, si es necesario para
     ajustarse al contenedor*/
    hyphens: auto;
    word-break: break-all;
    overflow: auto;
    justify-content: center;
    color: #495057;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    line-height: 150%;
}

.emptyArea {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-family: 'Inter' ,sans-serif;
}

.emptyArea img {
    height: 10rem;
    width: 10rem;
    margin: 0;
    align-self: center;
}

.emptyArea h1 {
    padding: 2rem 0;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    color:#343A40;
}

.emptyArea h2 {
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color:#495057;
}

.copyBtn {
    position: absolute;
    height: 3rem;
    width: 12rem;
    border-radius: 24px;
    font-family: sans-serif;
    align-self: flex-end;
    margin-bottom: 1rem;
    background-color:#FFF
}

.copyBtn:hover {
    cursor: pointer;
    background-color:#ecebf0
}

.inputText {
    position:absolute;
    top:25%;
    left:20%;
    display: flex;
    height: 20rem;
    max-height: 40rem;
    width: 30rem;
    background: #F3F5FC;
    border: none;
    color:  #0A3871;
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    text-decoration: solid;
    line-height: 150%;
    box-sizing: border-box;
    resize: none;
    
} 

.inputTextError {
    border: solid;
    border-color: red;
    border-width: 1px;
}


.inputText::placeholder {

    color:  #0A3871;
    font-size: 2rem;
    font-family: sans-serif;
    line-height: 150%;
}

.inputText:focus{
    outline: none;
}

.button-container {
    position: absolute;
    left: 20%;
    bottom: 2.5rem;
    height: auto;
    width: auto;
}


.warning {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.warning img {
    width: auto;
    height: auto;
    padding-right: 3px;
    margin-left: 0;
    box-sizing: border-box;
}

.warning h3 {
    align-self: flex-end;
}

.warningError {
    color:red;
    text-decoration: underline;
    font-size: 1.2rem;
}

.encript-btn {
    display: inline;
    width: auto;
    height: auto;

}

.button {
    height: 4rem;
    width: 15rem;
    border-radius: 24px;
    font-family: sans-serif;
    padding: 1.5rem;
}

.button:hover {
    cursor:pointer;
}

.button:active {
    text-decoration: underline;
}

.button:first-child {
    background-color:#0A3871;
    color: white;
}

.button:first-child:hover {
    background-color: #254e80;
}

.button:last-child {
    color: #0A3871;
}

.button:last-child:hover {
    background-color: #fefeff;;
}

